
/*
    Layout Section
    This section controls the size and layout of the various page sections
    All color and presentation effects should be kept in the presentation section
*/
#header {

    padding: 5px;
    position: absolute;
    top: 75px;
    left: 75px;
    height: 100px;
    width: 800px;
   
}

#nav    {
    padding: 5px;
    position: absolute;
    top: 190px;
    left: 75px;
    height: 50px;
    width: 800px;
    
}


#footer    {
    padding: 5px;
    position: absolute;
    top: 580px;
    left: 75px;
    height: 100px;
    width: 800px;
    
}

#content    {
    padding: 5px;
    position: absolute;
    top: 255px;
    left: 75px;
    height: 310px;
    width: 800px;
    background-color: yellow;
}



/**************************************************************************/


/*
    Presentation Section
    This section controls the color and presentation of the data.
    All layout and location effects should be kept in the layout section
*/
.construct {
       color: #FFFFFF;
    text-align: left;
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;  
       }

#LetterBlock   {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    padding: 5px;
}
/***************************************************************************/


/*
        This is the code to modify the grid view
*/

.gvclass    {
    
    width: 100%;
}

.gvclass td {
       
    padding: 2px;   
    border: 0px;  
    color: #717171;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gvclass th {
      
    padding: 2px;   
    border: 0px;    
    color: #FFFFFF;
    text-align: left;
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;   
}
